* {
	box-sizing: border-box;
}

@font-face {
font-family: 'STAR WARS FONT';
font-style: normal;
font-weight: normal;
src: local('STAR WARS FONT'), url('star-wars-font/Starjedi.ttf') format('truetype');
}

h1 {
	font-family: 'STAR WARS FONT';
	font-size: 3rem;
	color: #f4ce42;
	margin: 5px;

}

body {
	background-color: #111100;
	height: 100vh;
	width: 100vw;
}

button {
	cursor: pointer;
	background-color: #B9B938;
	color: black;
	border: solid;
	border-color: black;
	font-size: 1rem;
	width: 15rem;
	height: 100%;
	text-transform: capitalize;
	padding: 0.3rem;
	margin: 0.1rem;
	border-collapse: collapse;
}

button:hover {
	background-color: #ffc800;
}

button.tbl {
	width: 100%;
}

table {
	background-color: #F5F563;
	table-layout: fixed;
	max-width: 30rem;
	width: 100%;
	border: solid 1px;
}

td {
	height: auto;
	word-wrap: break-word;
	text-align: justify;
}

td.caps {
	text-transform: capitalize;
}

td.noCaps {
	text-transform: none;
}

tr:nth-child(even) {
	background-color: #CFCF64;
}

input {
	width: 12rem;
	height:2.5rem;
	text-align: center;
	font-size: 1rem;
	margin: 10px;
}

.center {
	text-align: center;
}

.flexContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.autoWidth {
	width: auto;
	text-align: center;
}

.halfWidth {
	width: 50%;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.bgGreen {
	background-color: green;
}

.scroll {
	overflow: scroll;
}

#root {
	height: 100%;
}