* {
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
}

button {
	background-color: blue;
	color: white;
	border: solid;
	font-size: 1rem;
	width: 15rem;
	height: 2rem;
}

table {
	table-layout: fixed;
	width: 100%;
	max-width: 20em;
	margin: 1em;
	border: solid 1px;
}

td {
	text-transform: capitalize;
	word-wrap: break-word;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

.flexContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.halfWidth {
	width: 50%;
}

.fullWidth {
	width: 100%;
}

.fullHeight {
	height: 100%;
}

.bgGreen {
	background-color: green;
}

#root {
	height: 100%;
}